.mb70 {
	/* Включить/выключить отображение */
	/* display: none; */
	margin-bottom: 3.65vw;
}

.carousel {
	padding: 0 1.3rem 0 1.3rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-size: 45px;
	height: 350px;
}

.carousel h1 {
	margin-left: -1.5rem !important;
	margin: 0;
}

.box {
	border-radius: 10px;
	box-shadow: 0 0 15px #d9d9d9;
	width: 90% !important;
	height: 90% !important;
	margin: 8px 0 10px 0;
}

.box p {
	width: 100%;
	text-align: left;
	font-size: 18px;
	padding-left: 20px;
	padding-right: 20px;
	margin: 0;
}

.item {
	width: 64px;
	height: 64px !important;
	margin: 30px 0 20px 20px;
	background-repeat: no-repeat;
}

.i1 {
	background-image: url(./img/clock.svg);
}

.i2 {
	background-image: url(./img/magnifier.svg);
}

.i3 {
	background-image: url(./img/keyhole.svg);
}

@media (max-width: 1320px) {
	.carousel {
		height: 27vw;
		min-height: 300px;
	}
	.text {
		font-size: 3.3vw;
	}
}

@media (max-width: 720px) {
	.text {
		font-size: 30px;
	}
}
