.text {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 90px;
	font-size: 14px;
	white-space: nowrap;
	color: #fff;
	text-align: right;
}

.copyright {
	margin: 0;
	font-size: 12px;
}

@media (max-width: 375px) {
	.text {
		font-size: 3.7vw;
		min-height: 24vw;
	}
	.copyright {
		font-size: 3.2vw;
	}
	.image {
		width: 33vw;
	}
}
